* {
  margin: 0;
  padding: 0;
}
body, html, main {
  min-height: 100vw;
}
ul, li {
  list-style: none;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns */
ul li::before {
  content: "\200B";
}
